<ion-header no-border>
  <ion-toolbar color="danger">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let item of deseosService.listas">
      <ion-label (click)="abrirTarea( item.id )">{{ item.titulo }}</ion-label>
      <ion-note slot="end">{{ item.items.length }} items</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
